.nav-dash-container{
    width: 100%;
    max-height: 160vh;
    top: -450px;
    left: 820px;
    gap: 0px;
    opacity: 0px;

}
.overlay {
    position: static;
  }
.overlay::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);  /* Sombra negra semitransparente */
    z-index: 0;  /* Asegúrate de que esté por encima del contenido */
  }

li{
    list-style:  none;
}
.dashboard-container{
    background: #E9F1F4;
    padding: 2% 8%;

}

    
  
h5{
    color: #8E8EA1;
}
h4{
    
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: right;

}
hr{
   border: 1px solid #8E8EA1;    

}
.dashboard-nav{
    display: flex;
    justify-content: space-between;
    margin-left: 1%;
}
.nav-container{
    display: flex;
    gap: 10px;

}
.nav-container img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.app-cards-container{
    display: flex;
}


.table-container{
    background: #FFFFFF;
    width: 100%;
    padding: 3%;
    margin-left: 1%;
    border-radius: 15px;
}
.table-title-button{
    max-width: 360px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}
.table-title-button h5{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.table-title-button button{
    border: 1px solid #B0CAD1;
    background: #FFFFFF;
    border-radius: 5px;
    
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    

}
.table {
    width: 90%;
}
.table th{
    border-bottom: none;
}
.table-button{
    border: none;
    background: none;
   align-items: center;
}
.card-indicadores{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.card-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    gap: 20px;
    
}
.card-item{
    display: flex;
    flex-direction: row;
}
.card-indicadores li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    padding: 0;
    margin: 0;

}
.card-list img{
    max-width: 14px;
    max-height: 14px;
}