
<div class="nav-dash-container" >
    <app-navbar class="nav"></app-navbar>
    <div class="dashboard-container">
        <div class="dashboard-nav">
            <h5>Monitoreo Global</h5>
            <nav>
                <ul class="nav-container">
                    <li><img src="../../assets/img/Idioma.png" alt=""></li>
                    <li><img src="../../assets/img/Ajustes.png" alt=""></li>
                    <li><img src="../../assets/img/notification.png" alt=""></li>
                    <li><h4>Juan Rojas</h4></li>
                </ul>
                
            </nav>
        </div>
        

        <div class="mat-card card">
            <mat-card-content class="card-content">
                <img src="../../assets/img/Icon.png" alt="">
                <div>
                    <h5>Lectura</h5>
                    <p>1234</p>
                </div>

            </mat-card-content>
        </div>
        <div class="table-container">
            <div class="table-title-button">
                <h5>Plantas</h5>
                <button mat-button (click)="openDialog()">+ Crear nueva planta</button>
            </div>
            <hr>
            <table mat-table [dataSource]="plantas" class="table">
                <ng-container matColumnDef="pais">
                    <th mat-header-cell *matHeaderCellDef> Pais </th>
                    <td mat-cell *matCellDef="let planta"> {{planta.pais}} </td>
                </ng-container>
                <ng-container matColumnDef="nombrePlanta">
                    <th mat-header-cell *matHeaderCellDef> Nombre de la planta </th>
                    <td mat-cell *matCellDef="let planta"> {{planta.nombrePlanta}} </td>
                </ng-container>
                <ng-container matColumnDef="cantLecturas">
                    <th mat-header-cell *matHeaderCellDef> Lecturas </th>
                    <td mat-cell *matCellDef="let planta"> {{planta.cantLecturas}} </td>
                </ng-container>
                <ng-container matColumnDef="alertasMedias">
                    <th mat-header-cell *matHeaderCellDef> Alertas Medias </th>
                    <td mat-cell *matCellDef="let planta"> {{planta.alertasMedias}} </td>
                </ng-container>
                <ng-container matColumnDef="alertasAltas">
                    <th mat-header-cell *matHeaderCellDef> Alertas Altas </th>
                    <td mat-cell *matCellDef="let planta"> {{planta.alertasAltas}} </td>
                </ng-container>
                
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let planta"> 
                        <button mat-icon-button class="table-button"><img src="../../assets/img/Vector.png" alt=""></button>
                    </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
   


        <div class="mat-card card">
            <mat-card-content class="card-content">
                <img src="../../assets/img/IconTemp.png" alt="">
                <div class="card-indicadores">
                    <h5>Temperatura</h5>
                    <ul class="card-list">
                        <li class="card-item">
                            <img src="../../assets/img/Icon.png" alt="">
                            <p>100</p>
                        </li>
                        <li class="card-item">
                            <img src="../../assets/img/Group 8719.png" alt="">
                            <p>20</p>
                        </li>
                        <li class="card-item">
                            <img src="../../assets/img/Group 8705.png" alt="">
                            <p>3</p>
                        </li>
                    </ul>
                </div>

            </mat-card-content>
        </div>

    </div>

</div>
