
<div class="nav-dash-container" >
    <app-navbar class="nav"></app-navbar>
    <div class="dashboard-container">
        <div class="dashboard-nav">
            <h5>Monitoreo Global</h5>
            <nav>
                <ul class="nav-container">
                    <li><img src="../../assets/img/Idioma.png" alt=""></li>
                    <li><img src="../../assets/img/Ajustes.png" alt=""></li>
                    <li><img src="../../assets/img/notification.png" alt=""></li>
                    <li><h4>Juan Rojas</h4></li>
                </ul>
                
            </nav>
        </div>
        
        <app-cards-lecturas class="app-cards-container"></app-cards-lecturas>

        <div class="table-container">
            <div class="table-title-button">
                <h5>Plantas</h5>
                <button mat-button (click)="openDialog()">+ Crear nueva planta</button>
            </div>
            <hr>
            <table mat-table [dataSource]="plantas" class="table">
                <ng-container matColumnDef="pais">
                    <th mat-header-cell *matHeaderCellDef> Pais </th>
                    <td mat-cell *matCellDef="let planta"> {{planta.pais}} </td>
                </ng-container>
                <ng-container matColumnDef="nombrePlanta">
                    <th mat-header-cell *matHeaderCellDef> Nombre de la planta </th>
                    <td mat-cell *matCellDef="let planta"> {{planta.nombre}} </td>
                </ng-container>
                <ng-container matColumnDef="cantLecturas">
                    <th mat-header-cell *matHeaderCellDef> Lecturas </th>
                    <td mat-cell *matCellDef="let planta"> {{planta.cantLecturas}} </td>
                </ng-container>
                <ng-container matColumnDef="alertasMedias">
                    <th mat-header-cell *matHeaderCellDef> Alertas Medias </th>
                    <td mat-cell *matCellDef="let planta"> {{planta.alertasMedias}} </td>
                </ng-container>
                <ng-container matColumnDef="alertasAltas">
                    <th mat-header-cell *matHeaderCellDef> Alertas Altas </th>
                    <td mat-cell *matCellDef="let planta"> {{planta.alertasAltas}} </td>
                </ng-container>
                
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let planta"> 
                        <div class="acciones-menu">
                            <button mat-icon-button class="table-button" (click)="toggleMenu()">
                                <img src="../../assets/img/Vector.png" alt="">
                            </button>
                            <div *ngIf="isMenuOpen" class="menu">
                                <button (click)="editar(planta)">Editar</button>
                                <button (click)="eliminar(planta)">Eliminar</button>
                            </div>
               
                        </div>
                    </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
   

        <div class="cards">
            <div class="mat-card card" *ngFor="let indicador of indicadores">
                <mat-card-content class="card-content">
                    <img [src]="indicador.img" alt="">
                    <div class="card-indicadores">
                        <h5>{{indicador.tipo}}</h5>
                        <ul class="card-list">
                            <li class="card-item">
                                <img src="../../assets/img/Icon.png" alt="">
                                <p>{{indicador.cantLecturas}}</p>
                            </li>
                            <li class="card-item">
                                <img src="../../assets/img/Group 8719.png" alt="">
                                <p>{{indicador.alertasMedias}}</p>
                            </li>
                            <li class="card-item">
                                <img src="../../assets/img/Group 8705.png" alt="">
                                <p>{{indicador.alertasAltas}}</p>
                            </li>
                        </ul>
                    </div>
    
                </mat-card-content>
            </div>
        </div>
        

    </div>

</div>
