<h2 mat-dialog-title>Crear nueva planta</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Nombre de la planta</mat-label>
    <input matInput placeholder="Ingrese nombre" [(ngModel)]="plantName" />
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Pais</mat-label>
    <mat-select [(ngModel)]="selectedPais">
      <mat-option *ngFor="let pais of paises" [value]="pais.value">
        {{pais.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="{plantName: plantName, selectedPais: selectedPais}" cdkFocusInitial>Ok</button>
</mat-dialog-actions>


