<div class="mat-card card">
    <mat-card-content class="card-content">
        <img src="../../assets/img/Icon.png" alt="">
        <div>
            <h5>Lecturas OK</h5>
            <p>{{ cantLecturas }}</p>
        </div>
    
    </mat-card-content>        
   
</div>
<div class="mat-card card">
    <mat-card-content class="card-content">
        <img src="../../assets/img/Group 8719.png" alt="">
        <div>
            <h5>Alertas Medias</h5>
            <p>{{cantAlertMedias}}</p>
        </div>
    
    </mat-card-content>     
</div>
<div class="mat-card card">
    <mat-card-content class="card-content">
        <img src="../../assets/img/Group 8705.png" alt="">
        <div>
            <h5>Alertas Altas</h5>
            <p>{{cantAlertAltas}}</p>
        </div>
    
    </mat-card-content>  
</div>
<div class="mat-card card">
    <mat-card-content class="card-content">
        <img src="../../assets/img/Icon.png" alt="">
        <div>
            <h5>Sensores deshabilitados</h5>
            <p>{{cantSensDes}}</p>
        </div>
    
    </mat-card-content>  
</div>


